.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}
.contact__item:hover {
  -webkit-filter: invert(50%) sepia(55%) saturate(500%) hue-rotate(335deg) brightness(140%) contrast(140%);
          filter: invert(50%) sepia(55%) saturate(500%) hue-rotate(335deg) brightness(140%) contrast(140%);
}
.contact__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 4rem;
}
.contact__text {
  font-weight: var(--fw-4);
  font-size: var(--fs-24);
  line-height: var(--fh-28);
}