.Footer__wrapper {

    display: flex;
    justify-content: space-around;
}

.Footer__footer {
    background-color: #2e2d2d;
    color: white;
}

.Footer__contacts {
    padding-top: 30px;
}

.Footer__contacts__title {
    font-size: 30px;

}

.Footer__contacts__items {
    margin-top: 20px;

}

a {
    text-decoration: none;
    color: inherit;

}


.Footer__contactItem {
    display: flex;
    font-size: 20px;

}

.contactItem__text {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Footer__subscribe__wrapper {
    margin-top: 30px;
    width: 500px;
}

.Footer__subscribe__title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.subscribe {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 350px;
}

.Footer__subscribe__btn {
    width: 120px;
    text-transform: uppercase;
    height: 40px;
    background-color: #2e2d2d;
    border:1px solid white;
    color:white;
    font-size: 18px;
}



.Footer__subscribe__title {
    font-size: 25px;
    font-weight: normal;
}

.Footer__form {
    width: 350px;
    font-size: 20px;
    height: 40px;
    margin-right: 20px;
}

.Footer__subscription{
    margin-top: 30px;
}

.Footer__contactItem:hover{
    filter: invert(50%) sepia(55%) saturate(500%) hue-rotate(335deg)
    brightness(140%) contrast(140%);
}

.Footer__bottom {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer__bottom__year {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: lighter;
    margin-right: 20px;
}