* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;

}

a {
    text-decoration: none;

}
ul{
    list-style-type: none;
}

.Layout_wrapper {


}
.Layout__header {
    background-image: url("./pages/MainPages/img/background-main.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 5px solid orange;
}

.mainPage__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.mainPage__title {
    width: 40%;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 200px;
    margin-left: 100px;
}

.main {

}